<a href="https://colab.research.google.com/github/fatemehra10/predict-weather/blob/main/predict_weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
# import necessary library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Preprocessing

In [25]:
#Read data
weather = pd.read_csv('weather.csv')
weather.head()

,time,date,city,temp,wind,wind_direction,humidity,barometer,visibility,weather
0,00:30,January 2023,Abadan,23 °C,7 km/h,Wind blowing from 110° East-southeast to West-...,89%,1016 mbar,6 km,Passing clouds.
1,01:30,January 2023,Abadan,22 °C,4 km/h,Wind blowing from 150° South-southeast to Nort...,94%,1016 mbar,6 km,Clear.
2,02:30,January 2023,Abadan,21 °C,4 km/h,Wind blowing from 40° Northeast to Southwest,94%,1016 mbar,6 km,Clear.
3,04:30,January 2023,Abadan,20 °C,4 km/h,Wind blowing from 340° North-northwest to Sout...,94%,1017 mbar,4 km,Fog.
4,05:30,January 2023,Abadan,20 °C,4 km/h,Wind blowing from 80° East to West,100%,1017 mbar,4 km,Fog.

In [26]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40066 entries, 0 to 40065
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            40066 non-null  object
 1   date            40066 non-null  object
 2   city            40066 non-null  object
 3   temp            40066 non-null  object
 4   wind            40061 non-null  object
 5   wind_direction  40066 non-null  object
 6   humidity        40065 non-null  object
 7   barometer       40062 non-null  object
 8   visibility      28073 non-null  object
 9   weather         40066 non-null  object
dtypes: object(10)
memory usage: 3.1+ MB

In [27]:
# Cleaning data
weather.temp = weather.temp.apply(lambda x: str(x).replace('°C',''))
weather.wind = weather.wind.apply(lambda x: str(x).replace('km/h','').replace('No wind','-1'))
weather.humidity = weather.humidity.apply(lambda x: str(x).replace('%',''))
weather.barometer = weather.barometer.apply(lambda x: str(x).replace('mbar',''))
weather.visibility = weather.visibility.apply(lambda x: str(x).replace('km',''))
weather.weather = weather.weather.apply(lambda x: str(x).replace('.',''))

In [28]:
# Convert datatypes
weather.time = weather.time.astype('str')
weather.date = weather.date.astype('str')
weather.city = weather.city.astype('category')
weather.temp = weather.temp.astype(int)
weather.wind = weather.wind.astype(float)
weather.wind_direction = weather.wind_direction.astype('category')
weather.humidity = weather.humidity.astype(float)
weather.barometer = weather.barometer.astype(float)
weather.visibility = weather.visibility.astype(float)
weather.weather = weather.weather.astype('category')

In [29]:
# Rename column name 
weather.rename(columns = {'temp':'temp(°C)','wind':'wind(km/h)','humidity':'humidity(%)','barometer':
                          'barometer(mbar)','visibility':'visibility(km)'},inplace = True)

In [30]:
# Handle NAN
weather['visibility(km)'].fillna(round(weather['visibility(km)'].mean(),2),inplace = True)
weather.dropna(inplace = True)

In [31]:
weather.to_csv('clean_weather.csv',index = False)